# ─── Base de datos ───────────────────────────
POSTGRES_USER=admin
POSTGRES_PASSWORD=SuperSecret123!

# ─── Redis ───────────────────────────────────
REDIS_PASSWORD=RedisPass123!

# ─── App ─────────────────────────────────────
NODE_ENV=production
JWT_SECRET=jwt_super_secret_cambia_esto_en_produccion

# ─── AWS S3 ──────────────────────────────────
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
S3_BUCKET_NAME=mi-proyecto-devops-files
MAX_FILE_SIZE_MB=50
SIGNED_URL_EXPIRES_SECONDS=3600

GRAFANA_PASSWORD=grafana_admin_pass
